@charset "UTF-8";
/*
	savedogs : 모달창 기본 css
*/
body{
	width: 100%;
	margin: 0 auto;
	width: 800px;
	min-width: 800px;
	text-align: center;
}

div{
	padding-top: 50px;
	display: inline-block;
	width:90%;
	text-align: center;	
}
th{
	width: 20%;
}
td{
	width: 80%;
	text-align: left;
}
input[type=text]{
	font-size: 15px;
	padding: 5px;	
}
textarea{
	font-size: 15px;
	width: 90%;
	height: 90%;
}
input[type=submit]{
	background-color: #19CE60;
	color : white;
	font-size: 20px;
	padding: 5px 7px;
}

h3{
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	color: #272d2c;
	padding-bottom: 20px;
}
